<div class="container">
  <div class="d-flex">
    <h3 class="text-center">海外のレシピ検索</h3>
    <div class="text-center"><%= render 'shared/how_to_edamams_api' %></div>
  </div>
  
  <%= form_with(url: edamams_path, method: :get, class: "search-form") do |f| %>
    <%= f.text_field :search, placeholder: "食材で検索してください", class: 'form-control' %>
    <%= f.submit '検索する', class: "btn-brown" %>
  <% end %>
</div>

<% if @foods.present? && @foods["hits"].present? %>
  <div class='m-3'>
    <% @foods["hits"].first(12).each_slice(3) do |recipes| %>
      <div class="row mb-3">
        <% recipes.each do |recipe| %>
          <div class='mb-3 col-md-4'>
            <div class="card" style="width:500px; background-color: #FFEEC1;">
              <div class="card-body">
                <h4 class="card-title" style='color: #6B493D'><%= translate_to_japanese(recipe["recipe"]["label"]) %></h4>
                <%= image_tag recipe["recipe"]["image"], class: "card-img-bottom", alt: "Card image", style: "width:100%;" %>
                <div class="text-end mt-3">
                  <%= link_to '海外公式サイトへ', recipe["recipe"]["url"], class: "btn btn-warning", style: "color: #6B493D" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
