<div class="container">
  <h3 class="text-center">お手軽レシピ</h3>
  <%= link_to 'レシピ投稿', new_recipe_path, class: 'btn-brown mt-3' %>
  <div class="search-form">
    <%= render 'search_form' %>
  </div>

  <div class="boarder sub-back-ground mt-3">
    <% @recipes.each do |recipe| %>
      <div class="flex-container">
          <% if current_user&.recipe_favorite?(recipe) %>
            <%= render 'favorite_recipes/recipe_unfavorite', {recipe: recipe} %>
          <% else %>
            <%= render 'favorite_recipes/recipe_favorite', { recipe: recipe } %>
          <% end %>
        <h3 class="ml-3"><%= link_to recipe.title, recipe_path(recipe), class: 'brown-script' %></h3>
        <%= render 'destroy', recipe: recipe %>
      </div>
      <% recipe.recipe_tags.each do |tag| %>
        <div class="mb-3 mt-3 btn-brown-script"><%= tag.name %></div>
      <% end %>
      <div class="recipe_information">
        <%= link_to recipe_path(recipe) do %>
          <%= image_tag recipe.photo_url, style: 'width:800px; height:600px;' %>
        <% end %>
      </div>
      <div class="bottom-boarder mt-3"></div>
    <% end %>
  </div>
</div> 
<div class="d-flex justify-content-center">
  <%= paginate @recipes, theme: 'bootstrap-5' %>
</div>