<div class="container">
  <div class="flex-container">
    <div class = "mt-2">
      <% if current_user&.recipe_favorite?(@recipe) %>
        <%= render 'favorite_recipes/recipe_unfavorite', {recipe: @recipe} %>
      <% else %>
        <%= render 'favorite_recipes/recipe_favorite', { recipe: @recipe } %>
      <% end %>
    </div>
    <h3 class="recipe-title mt-3"><%= "タイトル：#{@recipe.title}" %></h3>
  </div>

  <div class='mt-2'></div>
  <%= render 'destroy', recipe: @recipe %>
  <h4 class='mt-2'>材料</h4>
  <h4 class='mt-2'><%= "調理時間：#{@recipe.cooking_time}分" %></h4>
  
  <% @recipe.ingredients.each do |recipe_ingredient| %>
  <table class="table table-spacing">
    <tbody>
      <tr>
        <td style="width: 300px;">
          <div class="brown-script"><%= recipe_ingredient.name %></div>
        </td>
        <td style="width: 300px;">
          <div class="brown-script"><%= recipe_ingredient.unit.unit %></div>
        </td>
        <td style="width: 300px;">
          <% if @recipe.add_shopping_list_items(current_user).include?(recipe_ingredient.name) %>
            <%= button_tag '追加済み', class: 'btn btn-secondary', type: 'button', disabled: true %>
          <% else %>
            <%= form_with(url: add_to_shopping_list_recipe_path(@recipe), class: 'add-to-shopping-list-form') do |f| %>
              <%= f.hidden_field :ingredient_name, value: recipe_ingredient.name %>
              <%= f.submit '買い物リストに追加', class: 'btn-brown' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

  <div class="recipe-main sub-back-ground">
    <div class="btn-group" role="group" aria-label="Recipe Tags">
    <% @recipe.recipe_tags.each do |recipe_tag| %>
      <div class="btn-wrapper">
        <div class="btn-brown mb-3"><%= recipe_tag.name %></div>
      </div>
    <% end %>
  </div>
    <%= image_tag @recipe.photo_url %>
    <div class="break-all mt-2 mb-2">
      <%= @recipe.content %>
    </div>
  </div>

  <div class="recipe-main sub-back-ground">
    <% @recipe.recipe_photos.each_with_index do |recipe_photo, index| %>
      <div class="break-all mt-2 mb-2">
        <p><%= "#{index + 1}.#{recipe_photo.description}" %></p>
      </div>
    <% end %>
  </div>

  <%= render 'recipe_comments/form', recipe_comment: @comment, recipe: @recipe %>
  <p class="recipe-author"><%= "投稿者: #{@recipe.user.name}さん" %></p>
  <div id="table-recipe-comment">
    <%= render @comments %>
  </div>
</div>
<%= link_to '一覧に戻る', recipes_path, class: 'text-center brown-text mb-3' %>