<div id="before_header">
    <div class="top_information">
        <div class="right-header">
            <%= link_to root_path, class: 'header-link brown-script' do %>
            <%= image_tag 'dish.svg' %>
                <span>Qmeals</span>
            <% end %>
        </div>
        <div class="right-header">
            <%= link_to 'ユーザー登録', new_user_path, class: 'btn-brown' %>
            <%= link_to 'ログイン', login_path, class: 'btn-brown' %>
        </div>
    </div>

    <div class="middle_information">
    <%= link_to recipes_path, class: 'brown-script' do %>
        <span>お手軽レシピ</span>
    <% end %>
    <%= link_to wisdom_boards_path, class: 'brown-script' do %>
        <span>料理の知恵</span>
    <% end %>
    <%= link_to shop_lists_path, class: 'brown-script' do %>
        <span>お買い物リスト</span>
    <% end %>
    <%= link_to edamams_path, class: 'brown-script' do %>
        <span>海外のレシピ</span>
    <% end %>
    <%= link_to login_path, class: 'brown-script' do %>
        <span>お気に入り</span>
    <% end %>
    </div>
</div>
