<div class="header">
  <div class="top_information">
    <div class="left_header">
      <%= link_to root_path, class: 'header-link brown-script' do %>
        <%= image_tag 'dish.svg' %>
        <span style="font-size: 30px; color: white;">Qmeals</span>
      <% end %>
    </div>

    <div class="right_header">
      <li class="nav-item dropdown dropdown-slider dropdown-center">
            <%= link_to image_tag(current_user.avatar.url, class:'rounded-circle', size:'80x80'), "#", class:'nav-link', 'data-bs-toggle'=>'dropdown', 'aria-haspopup'=>'true', 'aria-expanded'=>'false' %>
            <div class='dropdown-menu dropdown-menu-end'>
              <span class="dropdown-item disabled" style="color: #000000;"><%= "#{current_user.name}さん" %></span>
              <%= link_to 'プロフィール', profile_path, class:"dropdown-item" %>
              <div class='dropdown-divider'></div>
              <%= link_to 'ログアウト', logout_path, class:"dropdown-item", data: { turbo_method: :delete }  %>
            </div>
      </li>
    </div>
    
  </div>
  <div class="middle_information">
    <%= link_to recipes_path, class: 'brown-script' do %>
      <span>お手軽レシピ</span>
    <% end %>
    <%= link_to wisdom_boards_path, class: 'brown-script' do %>
      <span>料理の知恵</span>
    <% end %>
    <%= link_to shop_lists_path, class: 'brown-script' do %>
      <span>お買い物リスト</span>
    <% end %>
    <%= link_to edamams_path, class: 'brown-script' do %>
      <span>海外のレシピ</span>
    <% end %>
    <%= link_to favorite_recipes_path, class: 'brown-script' do %>
      <span>お気に入り</span>
    <% end %>
  </div>
</div>
