<div class="container">
    <h2 class="brown-title">Qmealsとは？</h2>

    <div class="description">
        <h3 class="index">このアプリは時短に特化したアプリです。このような人におすすめです。</h3>
        <ul class="index-list">
            <li>忙しいサラリーマン</li>
            <li>普段料理しない人</li>
            <li>余りもので料理したい人</li>
            <li>買い物メモと、レシピアプリをつい買い分けるのが面倒くさい人</li>
            <li>料理を上達させるための知恵をつけたい人</li>
        </ul>

        <h3 class="index">このアプリでは、このような機能が利用できます。</h3>
        <ul class="index-list">
            <li class="index-item">レシピの掲示板</li>
            <li class="index-item">料理の知恵袋</li>
            <li class="index-item">お買い物リストの登録</li>
            <li class="index-item">レシピ登録機能</li>
            <li class="index-item">海外のレシピ検索機能</li>
        </ul>
    </div>

    <div class="topics row">
        <div class="bottom-space mt-2">
            <h3 class="brown-title">1.レシピについて</h3>
            <p>時短に特化したアプリです。手軽なレシピ作りに挑戦・投稿してみましょう。</p>
            <%= link_to recipes_path do %>
                <%= image_tag 'top_recipe.svg' %>
            <% end %>
        </div>

        <div class="bottom-space mt-2">
            <h3 class="brown-title">2.料理の知恵袋について</h3>
            <p>料理の知恵を身につけましょう。</p>
            <%= link_to wisdom_boards_path do %>
                <%= image_tag 'top_wisdom.svg', class: "mt-5" %>
            <% end %>
        </div>

        <div class="bottom-space mt-2">
            <h3 class="brown-title">3.お買い物リストの登録</h3>
            <p>レシピからそのままお買い物リストを作成し、いつでも買い物に行けるようにしましょう。</p>
            <%= link_to shop_lists_path do %>
                <%= image_tag 'top_shopping.svg' %>
            <% end %>
        </div>

        <div class="bottom-space mt-2">
            <h3 class="brown-title">4.レシピの登録機能</h3>
            <p>いつでも見返せるようにレシピ・知恵袋をお気に入り登録しましょう。</p>
            <% if logged_in? %>
                <%= link_to favorite_recipes_path do %>
                    <%= image_tag 'top-registration.svg', class:"mt-5" %>
                <% end %>
            <% else %>
                <%= link_to login_path do %>
                    <%= image_tag 'top-registration.svg' %>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="bottom-space mt-2 text-center">
        <h3 class="brown-title">5.海外のレシピ検索機能</h3>
        <div class="d-flex">
            <%= render 'shared/how_to_edamams_api' %>
            <p>海外のレシピも調べてさらに知識を広げましょう。</p>
        </div>
        <%= link_to edamams_path do %>
            <%= image_tag 'top-oversea.svg' %>
        <% end %>
    </div>
</div>
