<div class="container">
  <h1>お問い合わせ</h1>
  <%= form_with model: @contact do |f| %>
    <div calss="contact-form">
      <%= f.label :name %><span class="text-danger">（必須）</span>
      <%= f.text_field :name, class: 'form-control', placeholder: 'お名前を入力してください' %>
    </div>
    <div calss="contact-form">
      <%= f.label :email %><span class="text-danger">（必須）</span>
      <%= f.text_field :email, class: 'form-control', placeholder: 'メールアドレスを入力してください' %>
    </div>
    <div calss="contact-form">
      <%= f.label :message %><span class="text-danger">（必須）</span>
      <%= f.text_area :message, class: 'form-control', placeholder: 'お問い合わせ内容を入力してください' %>
    </div>
      <%= f.submit '送信', class: 'btn btn-success' %>
<% end %>
</div>